<div class="row">
	<div class="col-md-3 col-md-offset-1">
		<h1>Create Post</h1>
	</div>
</div>

<%= render 'form' %>
<div class="row">
	<div class= "col-md-1 col-md-offset-2">
		<%= link_to 'Back', statuses_path %>
	</div>
</div>
